<% layout("/layouts/boilerPlate.ejs") -%>
<body>
    <div class="main-container">
      <div class="show offset-2">
        <b><%= listItem.title %></b>
   
       <div class="card" style="width: 20rem;">
         <img src="<%= listItem.image %>" class="card-img-top" alt="ListingImage">
         <div class="card-body">
         </div>
         
         <br>
         <%= listItem.description %>
         <br>
         &#8377; <%= listItem.price.toLocaleString("en-IN")%>
         <br>
         <%= listItem.location %>
         <br>
         <%= listItem.country %>
       </div>
       <div class="btns">
         <button class="btn-dark btn btn-edit"><a href="/listings/<%= listItem._id %>/edit">Edit</a>
         </button>
          <br>
          <form method="POST" action="/listings/<%= listItem._id %>?_method=DELETE">
             <button class=" btn btn-dark btn-delete">Delete</button>
          </form>
       </div>
       </div>
    </div>
    <div class="col-8 offset-3 mt-3">
      <h4>Leave a Review</h4>
      <form action="">
        <div>
          <label for="rating">Rating</label>
          <input type="range" min="1" max="5" name="review[rating]">
        </div>
        <label for="comment">Comment</label>
        <textarea cols="30" rows="5" name="review[comment]" id="comment"></textarea>
        <button>Submit</button>
      </form>
    </div>
</body>
